BOT_TOKEN=<your-bot-token>
# Token of your Telegram bot (get from @BotFather)
# Токен вашего Telegram бота (получите у @BotFather)

SELLER_CHAT_ID=seller-chat-id
# Chat ID продавца для получения уведомлений о заказах
# Чтобы узнать свой chat_id, напишите боту @userinfobot
# Например: "123456789" или "@username"
# Chat ID of the seller to receive notifications about orders
# To find out your chat_id, write to the bot @userinfobot
# For example: "123456789" or "@username"

GOOGLE_DISK_ID=your-google-drive-folder-id
# ID таблицы в Google Диске
# Google Drive table ID

JSON_KEY_FILE=путь_к_вашему_файлу.json
# Путь к вашему JSON файлу с учетными данными Google API
#(вам нужно создать Service Account (Сервисный аккаунт) в консоли Google Cloud.)
# Path to your JSON file with Google API credentials
#(You need to create a Service Account in the Google Cloud Console.)
